<?xml version="1.0"?>
<!-- 
    Company:ERASIGNAL Studio
  Version:NotFind Beta 2.0
  Copyright:(C) 2007-2008
  -->
<configuration>
  <appSettings>
    <!--数据库信息，数据库地址、用户名、密码、数据库名-->
    <add key="DBServer2" value="DONGQI\SQLEXPRESS"/>
    <add key="DBUserName2" value="sa"/>
    <add key="DBPassword2" value="dongqi"/>
    <add key="DBName2" value="dingfangxitong"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

   
   
  </system.web>
</configuration>